body {
    background-color: rgb(0, 0, 0);
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "⬇️";
  position: absolute;
  right: 0;
  margin-top: -2px;
  pointer-events: none;
}

select {
  background-color: black;
  appearance: none;
  width: 200px;
  padding: 4px;
  border-color: #000000;
  border-radius: 3px;
  color: white;
}

h1 {
  color: white;
}

div {
  color: white;
}